<!DOCTYPE html>

<html>

  <head>
    <title> CREATE YOUR STORY </title>
  </head>

  <body>
    <h3>Title</h3>
    <br>
    <h3>Add a Genre</h3>
    <br>
    <h3>Add Tags</h3>
    <br>
    <h3>Write Your Own Story</h3>

    <h3>
      Login Page: Enter your username and password below to proceed.
    </h3>
    <form action="/auth", method="GET">
      Title:
      <input type="text" name="storyTitle">
      <br>
      Story Content:
      <input type="text" name="storyContent">
      <br>
      <input type="submit" name="sub1" value="Login">
    </form>

    <button type="button" name="Submit">
        <a href="">Publish Story</a>
    </button>
  </body>

</html>
