<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet" type="text/css"  href="static/styles.css">
    <title> HOME/FEED PAGE </title>
  </head>

  <body>
      <h2>Hey {{username}}, you've logged in!</h2>
      <h1>What Would You Like to Do Today?</h1>
      <br>
      <h3><a href="{{ url_for('redirect_create')}}">Begin Writing a New Story</a></h3>

      <br>

      <h3><a href="{{ url_for('redirect_library')}}">View and Edit Stories in the Library</a></h3>
      
      <br>

      <h3><a href="{{ url_for('redirect_logout')}}">Logout</a></h3>

  </body>
</html>
