<!DOCTYPE html>

<html>

  <head>
    <title> HOME/FEED PAGE </title>
  </head>

  <body>
    <h3>
        Jelly Jam Pancakes - Jeremy Kwok, Jacob Guo, Prattay Dey
        <br>
        SoftDev
        <br>
        p00
        <br>
        2022-11-06
        <br>
        time spent: 2.0 hours
      </h3>


      <h3>
        Hey {{username}}, you've logged in!
        <br>
      </h3>
      <h3>
        Ready to read or edit some stories?
      </h3>
      <h3>
        Recent stories you've edited:
        <br>
      </h3>
      <h3>
        Find stories you'd like here:
      </h3>

      <br>
      <button type="button" name="logout">
        <a href="{{ url_for('logout')}}">logout</a>
      </button>

  </body>

</html>
