<!DOCTYPE html>

<html>

  <head>
    <title> HOME/FEED PAGE </title>
  </head>

  <body>
      <h2>Hey {{username}}, you've logged in!</h2>
      <h1>What Would You Like to Do Today?</h1>
      <br>
      <h3><a href="{{ url_for('redirect_create')}}">Begin Writing a New Story</a></h3>
<!--
      <button type="button" name="create">
        <a href="{{ url_for('redirect_create')}}">Start Writing</a>
      </button>
-->
      <br>

      <h3><a href="{{ url_for('redirect_library')}}">View and Edit Stories in the Library</a></h3>
      
      <br>

      <h3><a href="{{ url_for('redirect_logout')}}">Logout</a></h3>
<!--
      <button type="button" name="logout">
        <a href="{{ url_for('redirect_logout')}}">Logout</a>
      </button>
-->

  </body>
</html>
