<!DOCTYPE html>

<!--
Team Jelly Jam Pancakes: Jacob Guo, Jeremy Kwok, Prattay Dey
SoftDev
K19 -- Sessions Greetings
2022-11-07
time spent: 2.0 hr
-->

<!--
    Username: Pancake
    Password: Syrup
-->

<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h3>
      Jelly Jam Pancakes - Jeremy Kwok, Jacob Guo, Prattay Dey
      <br>
      SoftDev
      <br>
      p0-SUPER STORIES
      <br>
      2022-11-07
      <br>
      time spent:
    </h3>


    <h3>
      Login Page: Enter your username and password below to proceed. Not registered? Click <a href = "register.html">here</a>
    </h3>
    <form action="/auth", method="GET">
      <input type="text" name="username">
      <br>
      <input type="password" name="password">
      <br>
      <input type="submit" name="sub1">
    </form>
    <br>
    <h2> {{ message }} </h2>
  </body>

</html>
