<!DOCTYPE html>

<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h3>
      Jelly Jam Pancakes - Jeremy Kwok, Jacob Guo, Prattay Dey
      <br>
      SoftDev
      <br>
      p00
      <br>
      2022-11-07
      <br>
      time spent:
    </h3>


    <h3>
      Login Page: Enter your username and password below to proceed.
    </h3>
    <form action="/login", method="POST">
      Username:
      <input type="text" name="username">
      <br>
      Password: 
      <input type="password" name="password">
      <br>
      <input type="submit" name="sub1" value="Login">
    </form>
    <br>
    <h2> {{ message }} </h2>
    <br>
    <br>
    <br>
    <h3>
        New User? Register here
    </h3>
    <button type="button" name="register">
        <a href="{{ url_for('redirect_register')}}">Register</a>
      </button>
  </body>

</html>
