<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <title> REGISTER PAGE </title>
  </head>

<body>
  <h1>Registration Page</h1>
  <h3>Create your account by inputting a username and password.</h3>
  <form action="/register", method="POST">
    Username:
    <input type="text" name="username">
    <br>
    Password: 
    <input type="password" name="password">
    <br>
    Confirm password: 
    <input type="password" name="confirm password">
    <br>
    <input type="submit" name="sub1" value="Register">
    
  </form>
  <br>
  <h2> {{ message }} </h2>
  <button type="button" name="login">
    <a href="{{ url_for('redirect_login')}}">Already a user? Log in here</a>
  </button>
</body>

</html>
